.widget{
    flex: 0.2;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border: 2px solid lightgray;
    height: fit-content;
    border-radius: 5px;
    background-color: white;
}

.widget-header{
    border-bottom: 1px solid lightgray;
}

.widget-header > h5{
    padding: 10px;
    color: rgb(80, 80,80);
    font-size: 15px;
    letter-spacing: 1.1px;
}

.widget-content{
    display: flex;
    flex-direction: column;  
}